$headerHeight: 2rem;
$footerHeight: 1.5rem;

.spreadsheet {

    position: absolute;
    height: 100%;
    width: 100%;

    > * {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
    }

    > .header {
        top: 0;
        height: $headerHeight;
        font-size: 120%;
        font-weight: bold;
    }

    > .body {
        top: $headerHeight;
        height: calc(100% - #{ $headerHeight + $footerHeight });
        overflow: hidden;
    }

    > .footer {

        bottom: 0;
        height: $footerHeight;

        .tab {
            cursor: pointer;
            padding: .1rem .3rem;
            margin: 0 .1rem;
            background-color: #f3f3f3;
            display: inline-block;
            border-radius: 0 0 .5rem .5rem;
            border: 1px solid gray;
            border-top: none;
        }

    }

}